@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Bem-vindo ao novo Curso Online</h1>
    <p class="lead">Nosso investimento é o seu sucesso!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>Para ver mais informações sobre os cursos, clique no botão abaixo</p>
        <p><a class="btn btn-success" href="Curso">Cursos &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Turmas</h2>
        <p>Para ver mais informações sobre as turmas, clique no botão abaixo</p>
        <p><a class="btn btn-danger" href="Turma">Turmas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alunos</h2>
        <p>Para ver mais informações sobre os alunos, clique no botão abaixo</p>
        <p><a class="btn btn-info" href="#">Alunos &raquo;</a></p>
    </div>
</div>